
body {
  min-width: 250px;
  cursor: url(pencil_medium.png) 8 36, auto;
  background: url("graphpaper.jpg");
}

h1 {
  text-align: center;
  font-family: 'Indie Flower', serif;

}
.heading {
  opacity: 1;
}

.active {
  text-decoration: underline;
}

#player1Score {
  float: left;
  color: #A40E4C;
  /*background-color: white;*/
  font-family: 'Chewy', serif;
}

#player2Score {
  float: right;
  color: #F49D6E;
  /*background-color: white;*/
  font-family: 'Chewy', serif;
}
#current-player-display {
  height: 25px;
}
#game-board {
  text-align: center;
}
 #row1 {
   height: 13px;
 }
 #row2 {
   height: 34px;
 }
 #row3 {
   height: 13px;
 }
#row4 {
  height:33px;
}
#row5 {
  height: 13px;
}
#row6 {
  height: 34px;
}
#row7 {
  height: 13px;
}
#row8 {
 height:33px;
}
#row9 {
  height: 13px;
}
#row10 {
  height: 34px;
}
#row11 {
  height: 13px;
}

.dots {
  height: 3px;
  width: 3px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  display: inline-block;

}

.horizontal:hover {
  background-color: #a6a6a6;
}

.vertical:hover {
  background-color: #a6a6a6;
}

.horizontal {
  height: 3px;
  width: 45px;
  margin-left: -5px;
  margin-right:-5px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.vertical {
  height: 45px;
  width: 3px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.box {
  height: 46px;
  width: 44px;
  margin-left: -4px;
  margin-right:-4px;
  /*border: 1px solid black;*/
  display: inline-block;
}

button {
  border: 0;
  height: 22px;
  margin: 25px;
}
