

/**this will make my image transparent**/
.background-image {
  height: 100%;
  width: 100%;
  display: block;
  min-width: 250px;
}
.background-image::after {
  content: "";
  background:url("graphpaper.jpg");
  opacity:0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right:0;
  position: absolute;
  z-index: -1;
}
body {
  min-width: 250px;
}

h1 {
  text-align: center;

}
.heading {
  opacity: 1;
}
#player1Score {
  float: left;
}
#player2Score {
  float: right;
}
#current-player-display {
  height: 25px;
}
#game-board {
  text-align: center;
}
 #row1 {
   height: 13px;
 }
 #row2 {
   height: 34px;
 }
 #row3 {
   height: 13px;
 }
#row4 {
  height:33px;
}
#row5 {
  height: 13px;
}
#row6 {
  height: 34px;
}
#row7 {
  height: 13px;
}
#row8 {
 height:33px;
}
#row9 {
  height: 13px;
}
#row10 {
  height: 34px;
}
#row11 {
  height: 13px;
}

.dots {
  height: 3px;
  width: 3px;
  border: 1px solid black;
  background-color: black;
  border-radius: 50%;
  display: inline-block;

}

.horizontal:hover {
  background-color: black;
}

.vertical:hover {
  background-color: black;
}

.horizontal {
  height: 3px;
  width: 45px;
  margin-left: -5px;
  margin-right:-5px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.vertical {
  height: 45px;
  width: 3px;
  /*border: 1px solid black;*/
  display: inline-block;
}

.box {
  height: 46px;
  width: 44px;
  margin-left: -4px;
  margin-right:-4px;
  /*border: 1px solid black;*/
  display: inline-block;
}
